{% extends 'base.html' %}
{% load django_tables2 crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block content %}
<div style="view-transition-name: home;" class="w-50">
    <div class="d-flex justify-content-center mb-5">
        <h1 style="color: #fff;">Home</h1>
    </div>

    <div class="row mb-3 text-center">
        <div class="col">
            <a href="{% url 'profile' user.id %}" class="btn btn-info w-100" style="view-transition-name: profile;">Profile</a>
        </div>

        {% if user.is_superuser %}
        <div class="col">
            <a href="{% url 'stores' %}" class="btn btn-warning w-100" style="view-transition-name: stores;">Stores</a>
        </div>
        <div class="col">
            <a href="{% url 'charts' %}" class="btn btn-light w-100" style="view-transition-name: charts;">Charts</a>
        </div>
        <div class="col">
            <a href="{% url 'users' %}" class="btn btn-success w-100" style="view-transition-name: users;">Users</a>
        </div>
        <div class="col">
            <a href="/admin/" class="btn btn-secondary w-100">Admin</a>
        </div>
        {% endif %}
    </div>

</div>
{% endblock %}