{% extends 'base.html' %}
{% load django_tables2 crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block content %}
<div class='w-75' style="view-transition-name: profile;">
    <div class="d-flex align-items-center">
        <div class="d-flex justify-content-start w-50">
            <a href="{% url 'home' %}" class="btn btn-dark" style="view-transition-name: home;">
                <i class="fa fa-solid fa-arrow-left"></i>
            </a>
        </div>
        <div class="d-flex justify-content-end w-50">
            <a href="{% url 'my-orders' user.id %}" class="btn btn-warning" style="view-transition-name: my-orders;">My Orders</a>
            <a href="{% url 'logout' %}" class="btn btn-danger ml-3" style="view-transition-name: login-form;">Logout</a>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <h1 class="my-5 text-light">{{user.username}}'s Profile</h1>
    </div>
    <div class="w-100 d-flex justify-content-center">
        <h1 style="color: #fff;">My purchased Products</h1>
    </div>
    {% render_table prod_table %}
</div>

{% endblock %}